.help-message {
    width: 484px;
    max-width: 484px;
}

.image.step-description {
    font-weight: 500;
}

/* --- step 1 elements style --- */

.draggable {
    width: 34px;
    height: 48px;

    font-size: 32px;
    line-height: 48px;
    font-weight: 500;

    text-align: center;
    margin-left: 6px;
}

.droppable {
    width: 34px;
    height: 48px;
    margin-left: 6px;
}

#field[data-task="1"] .__number {
    width: 45px;

    font-size: 32;
    font-weight: 500;
}

/* --- task 1 elements position --- */

#field[data-task="1"] .step-description {
    top: 50px;
    width: 46%;
}

#field[data-task="1"] .__task-image {
    top: 90px;
    left: 47%;
}

#field[data-task="1"] .__bracket {
    top: 260px;
}

#field[data-task="1"] .__left-bracket {
    left: 55px;
}

#field[data-task="1"] .__right-bracket {
    left: 415px;
}

#field[data-task="1"] .__upper-number {
    top: 270px;
}

#field[data-task="1"] .__number1 {
    left: 67px;
}

#field[data-task="1"] .__number2,
#field[data-task="1"] #droppable1,
#field[data-task="1"] #draggable1 {
    left: 109px;
}

#field[data-task="1"] .__number3,
#field[data-task="1"] #droppable2,
#field[data-task="1"] #draggable2 {
    left: 151px;
}

#field[data-task="1"] .__number4,
#field[data-task="1"] #droppable3,
#field[data-task="1"] #draggable3 {
    left: 193px;
}

#field[data-task="1"] .__number5,
#field[data-task="1"] #droppable4,
#field[data-task="1"] #draggable4 {
    left: 235px;
}

#field[data-task="1"] .__number6,
#field[data-task="1"] #droppable5,
#field[data-task="1"] #draggable5 {
    left: 277px;
}

#field[data-task="1"] .__number7,
#field[data-task="1"] #droppable6,
#field[data-task="1"] #draggable6 {
    left: 319px;
}

#field[data-task="1"] .__number8 {
    left: 361px;
}

#field[data-task="1"] .__down-number {
    top: 315px;
}

#field[data-task="1"] .droppable {
    text-align: center;
    top: 305px;
}

#field[data-task="1"] .draggable {
    top: 365px;
}


/* --- task 2 elements style --- */

.clickable {
    padding: 0px 5px;
    height: 48px;

    font-size: 32px;
    line-height: 48px;
    font-weight: 500;

    text-align: center;
}


/* task 2 elements position */
#field[data-task="2"] .step-description {
    width: 40%;
}

#field[data-task="2"] .__task-image {
    top: 90px;
    left: 47%;
}

#field[data-task="2"] .clickable {
    top: 360px;
}

#field[data-task="2"] #clickable1 {
    left: 50px;
}

#field[data-task="2"] #clickable2 {
    left: 110px;
}

#field[data-task="2"] #clickable3 {
    left: 170px;
}

#field[data-task="2"] #clickable4 {
    left: 230px;
}